@using ImpotsTaxes.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Article</title>
    <link type="text/css" rel="stylesheet" href="../../Content/styleTable.css" />
</head>
<body>
     <Form action="/Migration/Article">
    <div>
        <table border="1">
         <tr> 
            <th>Article</th>
            <th>Libelle</th>
            <th>Fait Générateur</th>
            <th>Périodicité</th>
         </tr>
         <tr>
  @foreach (Tax Article in ViewBag.Article)
   {
     <tr>
      <td><a href="/Migration/AffichageNote?note=@Request.Params["note"]&idPersAS=@Request.Params["idPersAS"]&idPersNS=@Request.Params["idPersNS"]&nom=@Request.Params["nom"]&tel=@Request.Params["tel"]&ville=@Request.Params["ville"]&quartier=@Request.Params["quartier"]&avenue=@Request.Params["avenue"]&numero=@Request.Params["numero"]&article=@Article.tax_id">@Article.tax_id</a></td>
      <td class="td" ><a href="/Migration/AffichageNote?note=@Request.Params["note"]&idPersAS=@Request.Params["idPersAS"]&idPersNS=@Request.Params["idPersNS"]&nom=@Request.Params["nom"]&tel=@Request.Params["tel"]&ville=@Request.Params["ville"]&quartier=@Request.Params["quartier"]&avenue=@Request.Params["avenue"]&numero=@Request.Params["numero"]&article=@Article.tax_id">@Article.tax_name</a></td>      
      <td>@Article.generating_fact</td>
      <td>@Article.periodicity</td>
  </tr>
}
      
        </table>
    </div>
  </Form>
</body>
</html>
